@use './variables';

.header{
    padding-inline: 1rem;
    padding-block: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__search{
        @include variables.inputTextBoxStyles;
    }

    &__button{
       @include variables.btnStyles;
    }

}