@use './variables';
.modal1{
    @include variables.modalStyles;
}


.showDeleteConfirm{
    top: 0;
}

.showEditForm{
    top: 0;
}

.todo__edit{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 3rem auto;
    gap: 10px;

    input{
        @include variables.inputTextBoxStyles;
    }

}