.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;

  &__data {
    width: 100%;
    padding-inline: 2rem;
  }

  &__delete {
    color: red;
    display: none;
  }

  &:hover {
    .todo__delete {
      display: block;
    }
  }

  &__checkbox {
    display: inline;
    scale: 1.5;
    background: transparent;
    outline: 0;
    border: 0px !important;
    box-shadow: none;
  }
}

.strike {
  text-decoration: line-through !important;
}

.erase {
  display: none;
}
