.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;

  &__data {
    width: 100%;
    padding-inline: 2rem;


  }

  &__delete{
    color: red;
    display: none;
  }

  &:hover{
    .todo__delete{
        display: block;
    }
  }
}

.strike {
    text-decoration:line-through !important;
}

.erase{
    display: none;
}
